body {
  background-image: url(../public/images/chris-lee-70l1tDAI6rM-unsplash.jpg);
  background-size: contain;
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 64px 0 0 0;
}

.dataContainer {
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  color: white;
}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  padding: 8px;
  margin: 3px, 0, 0, 3px;
  border: 0;
  border-radius: 5px;
  background-color: yellowgreen;
  width: 40%;
}
i {
  font-size: smaller;
  font-weight: 300;
}
.msg--wave {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  width: 100%;
}
.msg--wave textarea {
  width: 15rem;
  height: 4rem;
}

.msg--box {
  height: 1.7rem;
  border-radius: 3px;
  border: solid 0.01px #cdcbcb;
  text-transform: inherit;
}
.msg--box::placeholder {
  font-style: italic;
  font-size: smaller;
  text-align: center;
  padding: 5px;
}

.msg--card {
  display: flex;
  gap: 1rem;
  margin: 2rem;
  border-radius: 10px;
  flex-direction: column;
  background-color: #98ecc8;
  border: solid 0.01px #cdec9f;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.main--items {
  font-size: 800;
}

@media screen and (min-width: 660px) {
  body {
    background-image: url(../public/images/ryland-dean-6k6N8HTrXyE-unsplash.jpg);
    background-size: cover;
    color: white;
  }
  .header {
    color: green;
  }
  .dataContainer {
    backdrop-filter: blur(10px);
  }
  .msg--wave textarea {
    width: 25rem;
    height: 7rem;
  }
  .bio {
    color: white;
  }
}
