.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  padding: 8px;
  margin: 3px, 0, 0, 3px;
  border: 0;
  border-radius: 5px;
  background-color: yellowgreen;
  width: 40%;
}
i {
  font-size: smaller;
  font-weight: 300;
}
.msg--wave {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  width: 100%;
}
.msg--wave textarea {
  width: 25rem;
  height: 7rem;
}

.msg--box {
  height: 1.7rem;
  border-radius: 3px;
  border: solid 0.01px #cdcbcb;
  text-transform: inherit;
}
.msg--box::placeholder {
  font-style: italic;
  font-size: smaller;
  text-align: center;
  padding: 5px;
}

.msg--card {
  display: flex;
  flex-direction: column;
  background-color: rgb(152, 236, 200);
  border-radius: 10px;
  border: solid 0.01px rgb(205, 236, 159);
  gap: 1rem;
  padding: .5rem;
  margin: .4rem;
}
.main--items {
  font-size: 500;

}
